.site-footer {
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    background-color: #05021a;
  
    a {
      color: #737373;
      &:hover {
        color: #3366cc;
        text-decoration: none;
      }
    }
  
    h6 {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      margin-top: 5px;
      letter-spacing: 2px;
    }
  
    .footer-links {
      padding-left: 0;
      list-style: none;
      li {
        display: block;
        a {
          color: #737373;
          &:hover {
            color: #3366cc;
          }
        }
      }
    }
  
    .social-icons {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-bottom: 4px;
        a {
          color: #fff;
          font-size: 20px;
          line-height: 44px;
          width: 44px;
          height: 44px;
          text-align: center;
          margin-right: 8px;
          border-radius: 100%;
          background-color: #33353d;
          &:hover {
            color: #fff;
            background-color: #29aafe;
          }
        }
      }
    }
  
    .copyright-text {
      margin: 0;
      color: #737373;
    }
  
    hr {
      border-top-color: #bbb;
      opacity: 0.5;
    }
  
    @media (max-width: 991px) {
      .site-footer [class^='col-'] {
        margin-bottom: 30px;
      }
    }
  
    @media (max-width: 767px) {
      .site-footer {
        padding-bottom: 0;
      }
      .copyright-text,
      .social-icons {
        text-align: center;
      }
    }
  }
  